@font-face {
  font-family: 'MADE Voyager';
  src: url('https://raw.githubusercontent.com/brittanylauro/offhours-fonts/main/MADE-Voyager-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
